.header_input {
    margin-right: 30px;
}

.header_button {
    margin-right: 30px;
}

.react-dadata__input {
    width: 400px !important;
}

.mt-50 {
    margin-top: 50px;
}

.mt-20 {
    margin-top: 20px;
}